/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/

input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Merienda', cursive;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
/*-- //Reset Code --*/
.banner-agileits{
	background:url('../images/banner2.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:799px;
}
.header-w3l{
	padding:20px 0px;
	border-bottom:1px solid rgba(255, 255, 255, 0.25);
}
.navbar-default {
	background:none;
    border:none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-right {
    float: none!important;
    margin-right:0;
}
.navbar-collapse {
     padding-right:0;
     padding-left:0;
}
.nav > li > a {
    padding: 10px 66px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(205, 220, 57, 0.69);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #fff;
    background-color: rgba(205, 220, 57, 0.69);
}
.navbar-default .navbar-nav > li > a {
   color:#CDDC39;
}
.navbar {
    margin-bottom:0px;
}
.banner-text{
	width:61%;
	margin:200px auto 0px auto;
	text-align:center;
}
.banner-text h2{
	color:#fff;
	background-color: rgba(205, 220, 57, 0.69);
	padding:10px 20px;
	font-size:18px;
	display:inline-block;
}

.banner-text h1{
	padding-top:30px;
	font-size:40px;
	color:#fff;
}
.arrow {
    padding: 190px 0px 35px 0px;
}
.arrow img{
	width:4%;
}
/*--Specialize--*/

.specialize{
	padding:100px 0px;
	background:#000;
}
.spgrids h3{
    margin-bottom: 20px;
    text-align: center;
    width: 42%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 250, 203, 0.63);
    padding-bottom: 10px;
    letter-spacing:1px;
	font-size:25px;
	color:#fff;
}
.spgrids h5 {
    padding: 10px;
    border: 1px solid rgba(255, 250, 203, 0.63);
    margin: 20px 0px 10px 0px;
    padding-left: 25px;
    width: 100%;
    word-spacing: 2px;
    font-size: 18px;
    color: #fff;
}
h5.special {
    padding: 10px;
    border: 1px solid rgba(255, 250, 203, 0.63);
    margin: 50px 0px 10px 0px;
    padding-left: 10px;
    width: 100%;
    font-weight: 300;
}
/*--//Specialize--*/

/*-- Full image--*/
.full-image{
	background:url('../images/2.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:550px;
	padding:200px 0px;
}
.figrids-total{
	width:70%;
	margin:0 auto;
}
.figrids{
	text-align:center;
    background-color:rgba(205, 220, 57, 0.46);
    border: 1px dotted rgba(255, 255, 255, 0.52);
	width:30.8%;
	padding:40px 45px 45px 45px;
    color:#fff;
	font-size: 40px;
	font-weight: 500;
	margin:0 10px;
}
.figrids h5{
	font-weight:300;
	padding-top: 5px;
	font-size:18px;
	color:#fff;
}
label.line{
	display:block;
	background:#fff;
	width:38%;
	margin:10px auto;
	height:2px;
}
/*-- //Full image--*/


/*-- Services--*/
.services{
	padding-bottom:100px
}
.services-top{
	border-bottom:1px solid #CDDC39;
}
.services-topleft{
	border-right:1px solid #CDDC39;
}
.services h3{
	font-size:40px;
	color:#000;
	padding:45px 0px;
}
.services-topright p{
	color:#000;
	font-size:14px;
	padding:37px 0px;
	text-align:center;
}
.services h4{
	font-size:25px;
	color:#000;
	padding-bottom:8px;
}
.services p{
	text-align:center;
	color:#000;
	font-size:14px;
	line-height:30px;
	padding-bottom:30px;
}
.services-grid{
	text-align:center;
	border-bottom:1px solid #CDDC39;
}
.services-grid1,.services-grid2,.services-grid3{
	border-right:1px solid #CDDC39;
}
.glyphicon{
	font-size:35px;
	padding: 20px 0px;
	color:#CDDC39;
}
/*-- //Services--*/


/*-- Gallery--*/
.gallery{
	
}
.gallery h3{
	font-size:40px;
	padding-bottom:30px;
	color:#000;
}
.gallery-grids{
	margin:3em 0 0;
}
.gallery-grid-left,.gallery-grid-right{
	padding:7px;
}
.gallery-grid-right1{
	float:left;
	width:48.6%;
}
.gallery-grid-right2{
	float:right;
	width:48.6%;
}
.gallery-grid-right-grid:nth-child(2){
	padding:1em 0;
}
.gallery-grid-left-grid,.gallery-grid-left-grid-left-grid:nth-child(2){
	padding:1em 0 0;
}
.gallery-grid-left-grid-left{
	float:left;
	width:48.6%;
}
.gallery-grid-left-grid-right{
	float:right;
	width:48.6%;
}
.view {
  width: 100%;
  margin: 0px;
  float: none;
  border: 0px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
}
.view .mask,.view .content {
   width: 100%;
   height:100%!important;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding:8.5em 0 0;
}
.view .mask1 {
    padding: 3em 0 0 !important;
}
.mask2 {
    height: 100%!important;
}
.view img {
   display: block;
   position: relative;
}
.view h4 {
	text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
h4.late {
  padding-top: 3.5em;
}
.view p {
   position: relative;
    color: #fff !important;
    padding: 20px 20px 0px;
    text-align: center;
    line-height: 1.8em;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-eighth .mask {
   background:rgba(205, 220, 57, 0.65);
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   -o-transition: all 0.3s ease-out 0.5s;
   -ms-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   -o-transition: all 0.2s ease-in-out 0.1s;
   -ms-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #333;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.3s;
   -moz-transition: all 0.2s ease-in-out 0.3s;
   -o-transition: all 0.2s ease-in-out 0.3s;
   -ms-transition: all 0.2s ease-in-out 0.3s;
   transition: all 0.2s ease-in-out 0.3s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
   height: 385px;
}
.view-eighth:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-eighth:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}
.view1 {
  width: 570px;
  height: 300px;
  margin: 0px;
  float: left;
  border: 0px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}
.view1 .mask,.view1 .content {
   width: 570px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding:6em 0;
}
.view1 img {
   display: block;
   position: relative;
}
.view1 h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   margin: 20px 0 0 0;
}
.view1 p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #000;
   padding: 10px 20px 20px;
   text-align: center;
}
.view1 a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view1 a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view1-eighth .mask {
   background-color:rgba(167, 203, 180, 0.76);
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   -o-transition: all 0.3s ease-out 0.5s;
   -ms-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view1-eighth h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   -o-transition: all 0.2s ease-in-out 0.1s;
   -ms-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view1-eighth p {
   color: #333;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view1-eighth a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.3s;
   -moz-transition: all 0.2s ease-in-out 0.3s;
   -o-transition: all 0.2s ease-in-out 0.3s;
   -ms-transition: all 0.2s ease-in-out 0.3s;
   transition: all 0.2s ease-in-out 0.3s;
}
.view1-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
}
.view1-eighth:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view1-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view1-eighth:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}

/*-- //gallery --*/
/*-- //Gallery--*/


/*-- Staff--*/
.staff{
	padding:50px 0px;
}

.staff h3{
	font-size:40px;
	color:#000;
	padding-bottom:60px;
}

.staff h4{
	text-align:left;
	color: #CDDC39;
	font-size:27px;
	padding-bottom:10px;
}
.staff h5{
	text-align:left;
	font-size:20px;
	padding-bottom:10px;
	color:#000;
}
.staff p{
	font-size:14px;
	line-height:25px;
	padding-bottom:10px;
	color:#000;
}
.staff ul {
     margin:0
}
.staff ul li{
	display:inline;
}
.staff ul li a {
    width: 30px;
    height: 30px;
    background: url('../images/img-sprite.png') no-repeat -120px 0px;
    display: inline-block;
    border: none;
    background-size: 300px;
}
.staff ul li a.facebook {
    background: url('../images/img-sprite.png') no-repeat -150px 0px;
    background-size: 300px;
}
.staff ul li a.pinterest {
    background: url('../images/img-sprite.png') no-repeat -180px 0px;
    background-size: 300px;
}
.staff ul li a.twitter:hover {
    background: url('../images/img-sprite.png') no-repeat -120px -32px;
    background-size: 300px;
}
.staff ul li a.facebook:hover {
    background: url('../images/img-sprite.png') no-repeat -150px -32px;
    background-size: 300px;
}
.staff ul li a.pinterest:hover {
    background: url('../images/img-sprite.png') no-repeat -180px -32px;
    background-size: 300px;
}
.staff-top{
	margin-bottom:35px;
}
/*--//Staff--*/

/*-- Contact--*/
.contact{
	padding:50px 0px;
	background:url('../images/3.jpg') no-repeat 0px 0px;
	background-size:cover;
	background-attachment:fixed;
}
.contact-left,.contact-right{
	border:1px solid #eee;
	padding:30px;
	width:47.5%;
}
.contact-left{
	margin-right:5%;
}
.contact-left h4{
    font-weight:600;
	padding-bottom: 30px;
	font-size: 25px;
	color:#000;
}
.contact-left h5{
	font-weight:300;
	font-size:18px;
	text-align:left;
	margin-bottom:6px;
	color:#000;
}
.phone{
	padding: 0px 0px 30px 20px;
}
.mail{
	padding:15px 0px 15px 20px;
	 background-color: rgba(255, 255, 255, 0.16);
}
.mail a{
	color:#eaeaea;
}
.address{
	padding:30px 0px 29px 20px;

}
.touch h3{
	font-size:16px;
    text-align:left;
}
.touch h5{
	font-size:14px;
	padding:10px 0px 20px 0px;
}
.contact-left ul {
    margin-left: 15px;
}
.contact-left ul li{
	display:inline;
}
.contact-left ul li a {
    width: 40px;
    height: 40px;
    background: url('../images/img-sprite.png') no-repeat -160px -43px;
    display: inline-block;
    border: none;
    background-size: 400px;
}
.contact-left ul li a.facebook {
    background: url('../images/img-sprite.png') no-repeat -200px -43px;
    background-size: 400px;
}
.contact-left ul li a.pinterest {
    background: url('../images/img-sprite.png') no-repeat -240px -43px;
    background-size: 400px;
}
.contact-left ul li a.twitter:hover {
    background: url('../images/img-sprite.png') no-repeat -160px 0px;
    background-size: 400px;
}
.contact-left ul li a.facebook:hover {
    background: url('../images/img-sprite.png') no-repeat -200px 0px;
    background-size: 400px;
}
.contact-left ul li a.pinterest:hover {
    background: url('../images/img-sprite.png') no-repeat -240px 0px;
    background-size: 400px;
}
textarea{
	border:1px solid #fff;
	padding:10px;
	background:transparent;
	resize:none;
	color:#fff;
	width:95%;
	margin: 10px 0px;
}
input[type="submit"]{
	color: #CDDC39;
	background:transparent;
	border:none;
	border:1px solid  #CDDC39;
	padding:7px 15px;
	margin-top:10px;
}
input[type="submit"]:hover{
	border:1px solid #000;
	color:#000;
}
 ::-webkit-input-placeholder{
color:#FFF !important;
}
/*-- //Contact--*/
/*-- Footer--*/
.footer-w3{
	color:#000;
	padding:30px 0px;
	text-align:center;
}
.footer-w3 p{
	font-size:14px;
	color:#000;
}
.footer-w3 p a:hover{
	color:#CDDC39;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/up-arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/


/*---- responsive-design -----*/
@media(max-width:1440px){
	.banner-text {
		width: 58%;
	}
	.phone {
		padding: 0px 0px 29px 20px;
	}
	.address {
		padding: 29px 0px 29px 20px;
	}
}
@media(max-width:1366px){
	.banner-agileits {
		min-height: 680px;
	}
	.banner-text {
		width: 61%;
	}
	.arrow {
		padding: 113px 0px 35px 0px;
	}
	.figrids {
		padding: 28px 45px 45px 45px;
	}
}
@media(max-width:1280px){
	.banner-agileits {
		min-height: 600px;
	}
	.banner-text {
		width: 65%;
		margin: 115px auto 0px auto;
	}
	.arrow {
		padding: 115px 0px 35px 0px;
	}
	
}
@media(max-width:1080px){
	.nav > li > a {
		padding: 10px 52px;
	}
	.banner-text {
		width: 82%;
	}
	.spgrids{
		padding:0;
	}
	.spgrids h3 {
		width: 50%;
	}
	.spgrids h5 {
		font-size:16px;
	}
	h5.special {
		padding-left:8px;
	}
	.view .mask1 {
		padding: 2em 0 0 !important;
	}
	.view p {
		padding: 10px 20px 0px;
	}
	.mask2 {
		padding: 6em 0!important;
	}
	.full-image {
		min-height: 480px;
		padding: 150px 0px;
	}
	.figrids {
		margin:0 8px;
	}
	.staff-img{
		padding:2px;
	}
	.staff h4 {
		font-size: 25px;
		padding-bottom: 8px;
	}
	.staff h5 {
		font-size: 18px;
		padding-bottom: 8px;
	}
	.staff p {
		font-size: 13.5px;
	}
}
@media(max-width:991px){
	.nav > li > a {
		padding: 10px 34px;
	}
	.banner-text h1 {
		font-size: 39px;
	}
	
	.services-topright p {
		padding:25px 0px;
	}
	.services h4 {
		font-size: 18px;
	}
	.services p {
		font-size: 13.4px;
		line-height: 26px;
	}
	.full-image {
		min-height: 380px;
		padding: 100px 0px;
	}
	.figrids-total {
		width: 80%;
		margin: 0 auto;
	}
	.figrids {
		margin: 0 7px;
	}

	.mask, .view .content {
		padding: 13.5em 0 0!important;
	}
	.view .mask1 {
		padding: 6em 0 0 !important;
	}
	.mask2 {
		padding: 15em 0!important;
	}
	.staff-img{
		width:50%;
		margin-bottom:20px;
	}
	.staff-text{
		width:50%;
		margin-bottom:20px;
	}
	.staff h4 {
		font-size: 30px;
		padding-bottom: 20px;
	}
	.staff h5 {
		font-size: 20px;
		padding-bottom: 17px;
	}
	.staff ul {
		margin-bottom: 55px;
	}
	.staff-top {
		margin-bottom: 0px;
	}
	.contact-left, .contact-right {
		padding: 20px;
		width: 49.5%;
	}
	.contact-left {
		margin-right: 1%;
	}
	.contact-left h5 {
		font-size: 16.81px;
	}
}
@media(max-width:966px){
	.banner-text h1 {
		font-size: 38px;
	}
}
@media(max-width:900px){
	.banner-agileits {
		min-height: 585px;
	}
	.banner-text {
		width: 89%;
	}
	.arrow {
		padding: 115px 0px 0px 0px;
	}
}
@media(max-width:800px){
	.banner-agileits {
		min-height: 520px;
	}
	.logo {
		margin-bottom: 27px;
	}
	.header-w3l{
		padding-bottom:0;
	}
	.banner-text h1 {
		font-size: 33px;
	}
	.arrow {
		padding: 85px 0px 0px 0px;
	}
}
@media(max-width:736px){
	.banner-agileits {
		min-height: 475px;
	}
	.navbar-toggle {
		margin-top: 0px;
		margin-right: 320px;
		border-radius:0px;
	}
	div#navbar {
		width: 100%;
	}
	.navbar-nav {
		margin:0;
		width: 100%;
		text-align: center;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #CDDC39;
	}
	.banner-text {
		width: 95%;
		margin: 100px auto 0px auto;
	}
	.arrow {
		padding:50px 0px 0px 0px;
	}
	.services-topleft, .services-topright{
		width:50%;
		float:left;
	}
	.services-topright p {
		padding: 15px 18px;
	}
	.services-grid1,.services-grid2,.services-grid3,.services-grid4{
		width:50%;
		float:left;
	}
	.services-grid2{
		border-right:none;
	}
	.spgrids h3 {
		width: 35%;
	}

	.figrids-total {
		width: 95%;
	}
	.figrids {
		margin: 0 3px;
		width: 32.4%;
		float: left;
	}
	.staff-img{
		width: 50%;
		float: left;
	}
	.staff-text {
		width: 50%;
		float: left;
	}
	.contact-left, .contact-right {
		float:left;
	}
	.contact-left h5 {
		font-size: 15.94px;
	}
	input[type="submit"] {
		margin-top:5px;
	}
}
@media(max-width:667px){
	.banner-agileits {
		min-height: 430px;
	}
	.banner-text {
		width: 95%;
		margin: 70px auto 0px auto;
	}
	.banner-text h1 {
		font-size: 30px;
	}
	.arrow {
		padding: 35px 0px 0px 0px;
	}
	.navbar-toggle {
		margin-right: 285px;
	}
	.services p {
		font-size: 12.5px;
	}
	.spgrids h3 {
		width: 37%;
	}
	.mask, .view .content {
		padding: 10.5em 0 0!important;
	}
	.view .mask1 {
		padding: 5em 0 0 !important;
	}
	.mask2 {
		padding: 12em 0!important;
	}
	
	.figrids-total {
		width: 100%;
	}
	.figrids {
		width: 32.3%;
	}
	.phone {
		padding: 0px 0px 20px 20px;
	}
	.address {
		padding: 20px 0px 20px 20px;
	}
	textarea {
		margin:5px 0px;
	}
}
@media(max-width:640px){
	.banner-text h1{
		font-size:29px;
	}
	.banner-agileits {
		min-height: 415px;
	}
	.arrow {
		padding: 55px 0px 0px 0px;
	}
	.services {
		padding-bottom: 50px;
	}
	.specialize {
		padding: 50px 0px;
	}
	.gallery h3 {
		padding-bottom: 0px;
	}
	.full-image {
		min-height: 386px;
		padding: 110px 0px;
	}
		.figrids {
		padding: 21px 40px 36px 35px;
	}
	.figrids h5 {
		font-size: 14px;
	}
	.staff h3{
		padding-bottom: 30px;
	}

	.staff ul {
		margin-bottom: 20px;
	}
}
@media(max-width:600px){
	.banner-text h1{
		font-size:27px;
	}
	.navbar-toggle {
		margin-right: 265px;
	}
	.services-topright p {
		padding: 15px 18px;
	}
	.spgrids h3 {
		width: 40%;
	}
	.mask, .view .content {
		padding: 8.5em 0 0!important;
	}
	.view .mask1 {
		padding: 4em 0 0 !important;
	}
	.mask2 {
		padding: 10em 0!important;
	}
	.figrids {
		width: 32.2%;
	}

}
@media(max-width:568px){
	.banner-agileits {
		min-height: 365px;
	}
	.logo {
		margin-bottom: 15px;
	}
	.navbar-toggle {
		margin-right: 240px;
	}
	.banner-text h1 {
		font-size: 25px;
	}
	.arrow {
		padding: 28px 0px 0px 0px;
	}
	.arrow img {
		width: 5%;
	}
	.services h3,.gallery h3,.staff h3{
		font-size:35px;
	}
	.services-topright p {
		padding: 12px 1px;
	}
	.spgrids h3 {
		width: 42%;
	}
	.view .mask1 {
		padding: 2em 0 0 !important;
	}
	.mask2 {
		padding: 8em 0!important;
	}
	.figrids {
		width: 32.1%;
	}
	.full-image {
		min-height: 355px;
		padding: 90px 0px;
	}
	.staff h4 {
		font-size: 27px;
	}
	.contact-left {
		margin:0 0 15px 0px;
	}
	.contact-left, .contact-right {
		width:100%;
	}
}
@media(max-width:480px){
	.navbar-toggle {
		margin-right: 200px;
	}
	.banner-text h1 {
    font-size: 21px;
}
	.spgrids h3 {
		width: 53%;
	}
	.figrids {
		padding: 21px 35px 36px 27px;
		width:31.8%;
	}
	.full-image {
		min-height: 315px;
		padding: 80px 0px;
	}
	.staff h4 {
		font-size: 23px;
		padding-bottom:10px;
	}
	.staff h5 {
		font-size: 17px;
		padding-bottom: 9px;
	}
	.staff p {
		font-size: 12.5px;
		padding-bottom:6px;
	}
	.staff-text,.staff-img{
		margin-bottom: 0px;
	}
}
@media(max-width:414px){
	.navbar-toggle {
		margin-right: 165px;
	}
	.banner-text h1 {
		font-size: 22px;
		line-height: 30px;
	}
	.banner-text {
		width: 100%;
		margin: 40px auto 0px auto;
	}
	.services-topleft, .services-topright{
		width:100%;
		float:left;
		border:none;
	}
	.services h3 {
    padding: 25px 0px 0px 0px;;
	}
	.spgrids h3 {
		width: 62%;
	}
	.spgrids h5 {
		font-size: 12.2px;
	}
	.gallery-grid-left-grid-left {
		float: left;
		width: 47.6%;
	}
	.mask, .view .content {
		padding: 5em 0 0!important;
	}
	.mask2 {
		padding: 2em 0!important;
	}
	.view .mask1 {
		padding: 5px 0 0 !important;
	}
	.view h4 {
		font-size: 1.5em;
	}
	.view p {
		padding: 7px 20px 0px;
	}
	.figrids {
		padding: 12px 17px 22px 13px;
		width: 31.7%;
		font-size:35px;
	}
	.full-image {
		min-height: 275px;
		padding:72px 0px;
	}
	.staff h4 {
		font-size: 19px;
	    padding-bottom: 5px;
	}
	.staff h5 {
		font-size: 16px;
		padding-bottom:2px;
	}
	.staff p {
		font-size: 11.4px;
		padding-bottom:4px;
	}
	.footer-w3 p {
		line-height:25px;
	}
}
@media(max-width:384px){
	.banner-agileits {
		min-height: 245px;
	}
	.header-w3l {
		padding: 15px 0px 0px 0px;
	}
	.logo {
		margin-bottom: 8px;
	}
	.logo a h2 {
		font-size: 30px;

	}
	.navbar-toggle {
		margin-right: 145px;
	}
	.banner-text {
		width: 100%;
		margin: 10px auto 0px auto;
	}
	.banner-text h2 {
		padding: 8px 14px;
		font-size: 16px;
	}
	.banner-text h1 {
		font-size: 17.5px;
		line-height: 30px;
		padding-top:5px;
	}
	.arrow {
		padding: 20px 0px 0px 0px;
	}
	.arrow img {
		width: 7%;
	}
	.services h4 {
		font-size: 17px;
	}
	.specialize {
		padding: 50px 0px;
	}
	.spgrids h3 {
		width: 65%;
	}
	.spgrids h5 {
		font-size: 11.3px;
	}
	h5.special {
		padding-left: 2px;
	}
	.view p {
		padding: 6px 8px 0px;
		line-height: 1.5em;
	}
	.figrids {
		padding: 21px 22px 34px 16px;
		width: 31.5%;
		font-size: 27px;
	}
	.figrids h5 {
		font-size: 13px;
	}
	.staff h3 {
		padding-bottom: 35px;
	}
	.staff-img {
		width: 100%;
		float: left;
	}
	.staff-text {
		width: 100%;
		float: left;
		padding-left:0;
		margin-top:10px;
	}
	.staff h4 {
		font-size: 23px;
		padding-bottom: 12px;
	}
	.staff h5 {
		font-size: 18px;
		padding-bottom: 4px;
	}
	.staff p {
		font-size: 12px;
		padding-bottom: 4px;
	}
}
@media(max-width:375px){
	.banner-text h1 {
		font-size: 16px;
	}
	.services h4 {
		font-size: 16px;
	}
	.spgrids h3 {
		width: 68%;
	}
	.spgrids h5 {
		font-size: 11px;
	}
	.full-image {
		min-height: 230px;
		padding: 64px 0px;
	}
	.figrids {
		padding: 21px 13px 34px 10px;
	}
}
@media(max-width:320px){
	.navbar-toggle {
		margin-right: 117px;
	}
	.arrow {
		padding: 2px 0px 0px 0px;
	}
	.services-grid1, .services-grid2, .services-grid3, .services-grid4 {
		width: 100%;
		float: left;
	}
	.services-grid1, .services-grid2, .services-grid3 {
		border-right: 1px transparent;
	}
	.services {
		padding-bottom: 50px;
	}
	.services h3 {
		padding: 45px 0px 0px 0px;
	}
	.spgrids h3 {
		width: 82%;
	}
	.gallery h3 {
		padding-bottom: 0px;
	}
	.gallery-grid-left-grid-left {
		float: left;
		width: 100%;
	}
	.gallery-grid-left-grid-right {
		float: right;
		width: 100%;
		margin-top: 15px;
	}
	.gallery-grid-right1 {
		float: left;
		width: 100%;
		margin-bottom:15px;
	}
	.gallery-grid-right2 {
		float: right;
		width: 100%;
	}
	.view p {
		padding: 8px 3px 0px;
		font-size: 1em;
	}
	.view h4 {
		font-size: 1.7em;
	}
	.view .mask1 {
		padding: 40px 0 0 !important;
	}
	.mask, .view .content {
		padding: 10em 0 0!important;
	}
	.view .mask1 {
		padding: 50px 0 0 !important;
	}
	.rose {
		padding: 1em 0 0!important;
	}
	.gallery-grids {
		margin: 2em 0 0;
	}
	.figrids {
		padding: 10px 5px 26px 6px;
		width: 31.1%;
		font-size: 27px;
	}
	.footer-w3 p {
		font-size: 12px;
	}
}